#notused {
    width: 100%;
}

#used {
    width: 100%;
}

.templet_money_used {
    float: right;
    color: gray;
    font-size: 17px;
    margin-right: 7px;
    line-height: 30px;
    font-weight: 500;
}
#jump{
  color:black;
}



.templet_div_used {
    background-color: #f4f4f4;
    width: 100%;
    height: 66px;
    border-left: none;
    border-right: none;
    border-top-color: #f0f0f0;
    border-bottom-color: #f0f0f0;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    color: gray;
}
.templet_num {
    font-size: 15px;
    margin-left: 7px;
    float: left;
    line-height: 30px;
}

.div_title {
    font-size: 20px;
    color: gray;
    text-align: left;
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
}

.bord {
    background: rgba(50, 153, 205, .8);
    width: 100%;
    height: 80px;
}

.choose {
    width: 80%;
    background-color: rgba(0, 0, 0, .0);
    height: 100%;
    overflow: hidden;
    margin:0px auto;
}

.select,.balance {
    color: white;
    border: none;
    background-color: rgba(0, 0, 0, .0);
     line-height:80px;
/*    margin: 20% auto;*/


}
.select{
     font-size: 22px;
     float:left;
}
.balance{
    float:right;
     font-size: 18px;

}

.option {
    background-color: rgba(50, 153, 205, .8);
}
