@media screen and (min-height:561px) {
    .submit {
        margin: 8% auto;
    }
/*
    .addcard {
        width: 48px;
        height: 48px;
    }
*/
}

@media screen and (max-height:560px) {
    .submit {
        margin: 5% auto;
    }
/*
    .addcard {
        width: 40px;
        height: 40px;
    }
*/
}

.panel_pay {
    width: 100%;
    background-color: white;
    border: none;
    margin-top: 4px;
    height:60px;
}

.bankcard_name {
    height: 60%;
    width: 50%;
    background-color: rgba(0, 0, 0, .0);
    float: left;
    border: none;
    font-weight: 500;
    padding-bottom: 6px;
    margin-left: 2%;
     font-size: 16px;
}

.bankcard_num {
    height: 39%;
    width: 50%;
    background-color: rgba(0, 0, 0, .0);
    margin-bottom: 0px;
    float: left;
    border: none;
    color: gray;
    padding-bottom: 11px;
    margin-left: 2%;
     font-size: 14px;
}

.money_text {
    height: 40px;
    background-color: white;
    width: 75%;
    color: lightgrey;
    text-align: center;
    font-size: 20px;
     margin: 5% auto;
}

#bind {
    font-family: '黑体';
}

.head {
/*    background-color: aqua;*/
    float: left;
    margin-left: 6%;
    margin-right: 4%;
/*    border-radius: 100%;*/
    boeder: none;
     height: 46px;
        width: 46px;
        margin-top: 7px;
    /*    margin-top:10px;*/
}

.submit {
    display: block;
    width: 55%;
    height: 35px;
    font-family: '黑体';
    font-size: 20px;
    -webkit-appearance: none;
    outline: none;
    /*    box-shadow: 0px 1px 0px #f0f0f0;*/
}

.active {
    background-color: red;
}

.bind_input {
    width: 85%;
    height: 35px;
    background-color: #f9f9fb;
    font-size: 18px;
    color: gray;
    padding-left: 6px;
    text-align: left;
    border:none;
}

.div_code {
    position: relative;
    text-align: center;
}

.btn_code {
    position: absolute;
    right: 8%;
    z-index: 5;
    margin-top: 1px;
    line-height: 33px;
    width: 80px;
    height: 40px;
    list-style-type: none;
    display: block;
    color: gray;
    font-family: '黑体';
    font-size: 16px;
}

.select {
    font-size: 16px;
    color: gray;
    border: none;
    background-color: rgba(0, 0, 0, .0);
    margin: 0px auto;
    text-align: center;
}
.option{
    background-color: rgba(0, 0, 0, .0);
    text-align: center;
}
.radio_{
    line-height:53px;text-align:right;
/*    margin-right: 5%;*/
}
.headimg{
    width:100%;
    border-radius:100%;
    border-width:2px;
    
}