@media screen and (min-width:500px) {
    .main {
        width: 500px;
        left: 50%;
        margin-left: -250px;
    }
}

@media screen and (max-width:500px) {
    .main {
        width: 100%;
        left: 0px;
        top: 0px;
    }
}

.blue {
    background-color: #49B1FA;
}

.red {
    background-color: #f13c3c;
}

.gray {
    background-color: #f9f9fb;
}

.white {
    background-color: white;
}
.darkgray{
    color:#6a6a6a;
}
.green{
    background-color: #44dd97;
}

.b_t {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #f0f0f0;
}

.b_b {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #f0f0f0;
}

.font_white {
    color: white;
}

.b3 {
    border-radius: 3px;
    border: none;
}

a,
span,
div,
input,
a input,
div input,
a div,div select {
    font-family: '黑体';
    outline: none;
    -webkit-appearance: none;
    -moz-appearance:none;
    appearance:none;
    text-decoration: none;
}

.body {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.main {
    position: absolute;
    background: rgba(0, 0, 0, .0);
    height:100%;
}

.header {
    text-align: center;
    height: 50px;
    width: 100%;
    border: none;
    top: 0;
    left: 0;
    z-index: 999;
    position: fixed;
}

.shadow_blue {
    box-shadow: 0px 1px 8px #3299cd;
}
.shadow_red{
    box-shadow: 0px 1px 8px #cd3232;
}
.shadow_gray{
    box-shadow: 0px 1px 2px #c4c2c2;
}
.shadow_black{
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
.div_white {
    height: 12%;
    width: 100%;
    background-color: white;
    border-left: none;
    border-right: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #f0f0f0;
}

.templet_div_half {
    width: 100%;
    height: 50%;
}

.templet_city {
    font-size: 17px;
    margin-left: 7px;
    float: left;
    line-height: 30px;
}

.templet_money {
    float: right;
    color: #ff6d1d;
    font-size: 17px;
    margin-right: 7px;
    line-height: 30px;
    font-weight: 500;
}

.templet_time {
    float: right;
    font-size: 17px;
    margin-right: 7px;
    line-height: 30px;
}

.templet_way {
    /*     color:black;*/
    font-size: 17px;
    margin-left: 7px;
    float: left;
    line-height: 30px;
}

.templet_div {
    background-color: white;
    width: 100%;
    height: 66px;
    border-left: none;
    border-right: none;
    border-top-color: #f0f0f0;
    border-bottom-color: #f0f0f0;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    color: black;
}

.barbtnL {
    float: left;
    left: 3%;
}

.barbtnimg {
    width: 100%;
}

.barbtnR {
    float: right;
    right: 3%;
}

.barbtnL,
.barbtnR {
    width: 50px;
    height: 100%;
    z-index: 999;
    position: absolute;
    top: 0px;
}

.header_title {
    color: rgb(255, 255, 255);
    margin: 10px auto;
    display: block;
    font-size: 25px;
    z-index: 999;
    width: 140px;
    height: 50px;
}

.footer_btn_icon {
    width: 30px;
    height: 30px;
    margin: 0px auto;
    margin-top: 1px;
}

.footer_btn_text {
    height: 12px;
    margin-top: 0px;
    text-align: center;
    font-size: 12px;
    color: #979797;
}

.footer {
    width: 100%;
    height: 45px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #f0f0f0;
}

.footer_btn {
    width: 25%;
    height: 100%;
    float: left;
    background: rgb(253, 253, 254);
}